{% extends "base.html" %}
{% block content %}
  <h2>Вход</h2>
  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}
  <form method="post" action="/login" enctype="application/x-www-form-urlencoded">
    <label>Email:<br><input type="email" name="email" required></label><br><br>
    <label>Пароль:<br><input type="password" name="password" required></label><br><br>
    <button type="submit">Войти</button>
  </form>
  <p><a href="/register">Ещё нет аккаунта? Зарегистрироваться</a></p>
{% endblock %}
